<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myclass-member">
      <ion-icon name="cloud-outline"></ion-icon>
      <ion-label>成员</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myclass-register">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>签到</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myclass-detail">
      <ion-icon name="grid-outline"></ion-icon>
    
      <ion-label>班课详情</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
