<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="tab1" (click)="getuserclass()">
        <ion-label>我创建的</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2" (click)="getstuuserclass()">
        <ion-label>我加入的</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="info" [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'">
        <ion-toolbar>
            <ion-buttons >
                <ion-icon slot="icon-only" name="add" [routerLink]="[ '/addclass']"></ion-icon>

                <ion-buttons  class="message" (click)="addclass()">
                    新建班课
                </ion-buttons>
            </ion-buttons>

        </ion-toolbar>

      <ion-list *ngFor="let item of list">

          <ion-item-divider>
          </ion-item-divider>
          <ion-item  >
            <!-- [routerLink]="[ '/myclass',]" -->
          <ion-label >{{item.course}}</ion-label>
          <ion-label >{{item.class_number}}</ion-label>
          <ion-button (click)="onClick(item.id,item.class_number)">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
        
      </ion-list>

    </div>
    <div *ngSwitchCase="'tab2'">
        <ion-toolbar>
            <ion-buttons slot="start" (click)="searchclick2()">
                <img src="/assets/erwei.jpg" class="im1" />
            </ion-buttons>
            <ion-searchbar placeholder="请用班课号搜索" type="string" [(ngModel)]="stuclass_number"> </ion-searchbar>

            <ion-buttons slot="end" class="message" (click)="searchclick()">
                搜索
            </ion-buttons>

        </ion-toolbar>
        <ion-list *ngFor="let item of list">

            <ion-item-divider>
            </ion-item-divider>
            <ion-item  >
                <!-- [routerLink]="[ '/myclass',]" -->
                <ion-label >{{item.course}}</ion-label>
                <ion-label >{{item.class_number}}</ion-label>
                <ion-button (click)="stuonClick(item.id,item.class_number)">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                </ion-button>
            </ion-item>

        </ion-list>
    </div>
  </div>
</ion-content>