
<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)='canGoBack()'></ion-icon>
    <ion-title>更换绑定设备</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div padding-horizontal>
    <ion-list padding-right no-margin>
      <ion-item lines="none"></ion-item>
      <ion-item>
        <ion-label>新设备</ion-label>
        <ion-input type="number" placeholder="新的手机号码" [(ngModel)]="phone"></ion-input>
      </ion-item>

      <ion-item margin-top>
        <ion-label>密码：</ion-label>
        <ion-input type="password" placeholder="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item no-lines></ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" (click)="onclick()">保存</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>


  </div>

</ion-content>