<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="[ '/tabs']" (click)="back()">
      返回
    </ion-button>
    <ion-title>班课成员</ion-title>
  </ion-toolbar>
</ion-header>


<ion-list *ngFor="let item of list">

  <ion-item-divider>
  </ion-item-divider>
  <ion-item  >
    <!-- [routerLink]="[ '/myclass',]" -->

    <ion-label >姓名：{{item.name}}</ion-label>
    <ion-label >学号：{{item.student_number}}</ion-label>
    <ion-label >经验值：{{item.experience}}</ion-label>
    <ion-button (click)="onClick(item.id)">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>

</ion-list>

<ion-content>

</ion-content>
