
<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)='canGoBack()'></ion-icon>
    <ion-title>重置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div padding-horizontal>
    <ion-list padding-right no-margin>
      <ion-item lines="none"></ion-item>
      <ion-item>
        <ion-label>手机号</ion-label>
        <ion-input type="number" placeholder="tel" [(ngModel)]="phone"></ion-input>
      </ion-item>

      <ion-item margin-top>
        <ion-label>新密码</ion-label>
        <ion-input type="password" placeholder="password" [(ngModel)]="newpassword"></ion-input>
      </ion-item>
      <ion-item margin-top>
        <ion-label>新密码确认</ion-label>
        <ion-input type="password" placeholder="password" [(ngModel)]="confirmnewpassword"></ion-input>
      </ion-item>

      <ion-item no-lines></ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" (click)="onclick()">保存</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>


  </div>

</ion-content>